section.abouts-us
  .container
    .row
      .col-lg-6.col-md-12
        .about-title.title-mxn About us      
        div.about-fa-icon.fa-icon-mxn
          i.fa.fa-cutlery(aria-hidden="true")

        .about-text.text-mxn Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi ab soluta aliquid omnis, odit minima. Ipsa ullam unde maiores, dolore error consequuntur vel ratione perferendis eos sit minus recusandae in! ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tenetur odio dignissimos eum, voluptatibus tempora incidunt sed repellendus error, suscipit, officia possimus odit perspiciatis molestias consequatur quidem nisi asperiores vitae.
      .col-lg-6.col-md-12
        .about-us-wrap-img.wow.flipInX(data-wow-offset="300" , data-wow-delay="0.2s",data-wow-duration="0.6s")
          .wrap-img-top
          img(src="img/limes.jpg" width="240" height="210") 
          img(src="img/kabob.jpg" width="240" height="210")
          .wrap-img-bot
          img(src="img/radish.jpg" width="240" height="210") 
          img(src="img/corn.jpg" width="240" height="210")