section.beer
  .container
    .row
      .col-lg-6.col-md-12
        .beer-img-wrap.wow.flipInX(data-wow-offset="300",data-wow-delay="0.2s",data-wow-duration="0.6s")
          img(src="img/beer_spec.jpg")
      .col-lg-6.col-md-12.beer-top
        .title-mxn out beer
        div.fa-icon-mxn
          i.fa.fa-beer
          .text-mxn  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut voluptatum, similique qui tenetur maxime facilis dolores placeat repudiandae nesciunt, ea necessitatibus vel sed saepe inventore quia id dignissimos expedita.ea necessitatibus vel sed saepe inventore quia id dignissimos expedita.