section.bread
  .container
    .row
      .col-lg-6.col-md-12
        .title-mxn  our Bread      
        div.fa-icon-mxn
          i.fa.fa-folder(aria-hidden="true")
        .text-mxn Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi ab soluta aliquid omnis, odit minima. Ipsa ullam unde maiores, dolore error consequuntur vel ratione perferendis eos sit minus recusandae in! ipsum dolor sit amet, consectetur adipisicing elit. 
      .col-lg-6.col-md-12
        .bread-img.wow.flipInY(data-wow-offset="150",data-wow-delay="0.2s",data-wow-duration="0.6s")
          img(src="img/bread1.jpg" width="200px") 
          img(src="img/bread1.jpg" width="200px")