section.dish
  .container
    .row
      .col-lg-6.col-md-12
        .title-mxn hace a look to our dishs    
        div.fa-icon-mxn
          i.fa.fa-birthday-cake(aria-hidden="true")
        .text-mxn Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi ab soluta aliquid omnis, odit minima. Ipsa ullam unde maiores, dolore error consequuntur vel ratione perferendis eos sit minus recusandae in! ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tenetur odio dignissimos eum, voluptatibus tempora incidunt sed repellendus error, suscipit, officia possimus odit perspiciatis molestias consequatur quidem nisi asperiores vitae.
      .col-lg-6.col-md-12
        .wrap-slider.wow.fadeInLeft(data-wow-offset="200",data-wow-delay="0.2s",data-wow-duration="0.6s")
          .owl-carousel.main-carousel.owl-theme
            .slider__item
              img(src="img/slider2.jpg", alt="")
            .slider__item
              img(src="img/slider2.jpg", alt="")