section.header-content
  .container
    .row
      .col-md-6.offset-md-3
        .wrap-content
          h1 Restaurant
          .subtext " Best in the City "
  .img-anim.item-1
    img(src="img/glass1.png", alt="")
  .img-anim.item-2
    img(src="img/glass1.png", alt="")
  .img-anim.item-3
    img(src="img/glass1.png", alt="")
  .img-anim.item-4
    img(src="img/glass1.png", alt="")
  .img-anim.item-5
    img(src="img/glass1.png", alt="")
  .img-anim.item-6
    img(src="img/glass1.png", alt="")    
