doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title document
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/libs.css")
    link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.min.css")
  body
    include header
    include header-content
    include about-us
    include affordable
    include product
    include place
    include beer
    include breakfast
    include bread
    include featur
    include dish
    include reserve
    include footer
    script(src="js/libs.min.js")
    script(src="js/common.js")
    
