section.product
  .container
    .row
      .col
        ul.product-title-menu
          li
            a(href="#") All
          li
            a(href="#") Breakfast
          li
            a(href="#") Special
          li
            a(href="#") Desert
          li
            a(href="#") Dinner
        ul.product-menu-item
          li
            img(src="img/food_icon01.jpg", alt="")
            span.product-price $20
          li
            img(src="img/food_icon02.jpg", alt="")
            span.product-price $20
          li
            img(src="img/food_icon03.jpg", alt="")
            span.product-price $10
          li
            img(src="img/food_icon04.jpg", alt="")
            span.product-price $18
          li
            img(src="img/food_icon05.jpg", alt="")
            span.product-price $16
          li
            img(src="img/food_icon06.jpg", alt="")
            span.product-price $20
          li
            img(src="img/food_icon07.jpg", alt="")
            span.product-price $15
          li
            img(src="img/food_icon08.jpg", alt="")
            span.product-price $30
