@import 'mixin';
.abouts-us{
  padding: 80px 0 30px;
  text-align: center;
 
   .fa-cutlery{
    font-size: 24px;
  }
}
.wrap-img-top, .wrap-img-bot{
  img{
    padding-left: 3px;
  }
}
@include text()

